<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-lg">
      <h1 class="text-3xl font-bold">Tenhle link nefunguje</h1>
      <p class="py-6">
        Nejspíš vypršela jeho platnost. Ale to nevadí, vždycky si můžeš nechat od bota poslat nový.
      </p>
      <a href={~p"/"} class="btn btn-primary">Zpět na přihlášení</a>
    </div>
  </div>
</div>
